@import "tailwindcss";

@theme {
  --color-cream: #F6F3EC;
  --color-teal: #335056;
  --color-mauve: #957882;
  --color-bluegray: #AEC1C1;
  --color-pink: #E3CCCA;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #232323;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
